extends layout

block content
    ol.breadcrumb
        li.breadcrumb-item
            a(href='/') Dashboard
        li.breadcrumb-item.active Tables
    // DataTables Example
    .card.mb-3
        .card-header
            nav
                #nav-tab.nav.nav-tabs(role='tablist')
                    a#nav-equipment-tab.nav-item.nav-link.active(data-toggle='tab' href='#nav-equipment' role='tab' aria-controls='nav-equipment' aria-selected='true') Equipment
                    a#nav-employee-tab.nav-item.nav-link(data-toggle='tab' href='#nav-employee' role='tab' aria-controls='nav-employee' aria-selected='false') Employees
            #nav-tabContent.tab-content
                #nav-equipment.tab-pane.fade(role='tabpanel' aria-labelledby='nav-equipment-tab')
                    .card-body
                        .table-responsive
                            table#equipmentDataTable.table.table-bordered(width='100%' cellspacing='0')
                                thead
                                    tr
                                        th Item
                                        th Last Used
                                        th Last Tuned
                                        th Size
                                        th UPC
                                tbody
                                    each item in equipment
                                        tr
                                            td #{item.type}
                                            td #{item.last_used}
                                            td #{item.last_tune}
                                            td #{item.size}
                                            td #{item.upc}
                    .card-footer.small.text-muted.date-updated Updated yesterday at 11:59 PM
                #nav-employee.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='nav-employee-tab')
                    .card-body
                        .table-responsive
                            table#employeeDataTable.table.table-bordered(width='100%' cellspacing='0')
                                thead
                                    tr
                                        th Name
                                        th Username
                                        th Hire Date
                                        th Position
                                tbody
                                    each user in users
                                        tr
                                            td #{user.firstName} #{user.lastName}
                                            td #{user.username}
                                            td #{user.startDate}
                                            td #{user.position}
                    .card-footer.small.text-muted.date-updated Updated yesterday at 11:59 PM
block scripts
    script(src="/js/datatables.js")
    script(src="/js/date.js")