extends layout

block head
    link(rel='stylesheet' type='text/css' href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css')

block content
    ol.breadcrumb
        li.breadcrumb-item
            a(href='/') Dashboard
        li.breadcrumb-item
            a(href='/admin') Admin
        li.breadcrumb-item.active Users
    .card.mb-3
        .card-header
            .card-body
                .table-responsive
                    table#employeeDataTable.table.table-bordered.data-table(style="width='100%'")
                        thead
                            tr
                                th Name
                                th Username
                                th Hire Date
                                th Position
                        tbody
                            each user in users
                                tr
                                    td #{user.firstName} #{user.lastName}
                                    td #{user.username}
                                    td #{user.startDate}
                                    td #{user.position}
                button#employeeAdd.btn.btn-primary.table-btn(type='button' data-toggle='modal' data-target='#createModal') Add
                button#employeeUpdate.update-btn.btn.btn-secondary.table-btn.disabled(type='button' disabled data-toggle='modal' data-target='#updateModal') Update
                button#employeeDel.delete-btn.btn.btn-danger.table-btn.disabled(type='button' disabled data-toggle='modal' data-target='#deleteModal') Delete
            .card-footer.small.text-muted.date-updated
    #createModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='createModal' aria-hidden='true')
        .modal.modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#modalTitle.modal-title New User
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p.text-center.text-danger#errmsg
                    form(id='registerForm').form-signin
                        .form-group
                            .form-row
                                .col-md-6
                                    .form-label-group
                                        input#firstName.form-control(type='text' placeholder='First name' required autofocus='autofocus', name='firstName')
                                        label(for='firstName') First name
                                .col-md-6
                                    .form-label-group
                                        input#lastName.form-control(type='text' placeholder='Last name' required name='lastName')
                                        label(for='lastName') Last name
                        .form-group
                            .form-row
                                .col-md-6
                                    .form-label-group
                                        input#username.form-control(type='text' placeholder='Username' required name='username')
                                        label(for='username') Username
                                .col-md-6
                                    .form-label-group
                                        select#type.custom-select(name='role' required)
                                            option(selected='') -Role-
                                            option(value='admin') Administrator
                                            option(value='user') Employee
                        .form-group
                            .form-row
                                .col-md-6
                                    .form-label-group
                                        input#startDate.form-control(type="date" placeholder="YYYY-MM-DD" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" name='startDate')
                                        label(for='startDate') Hire Date
                                .col-md-6
                                    .form-label-group
                                        input#position.form-control(type='text' placeholder='Position' name='position')
                                        label(for='position') Position
                        .form-group
                            .form-row
                                .col-md-6
                                    .form-label-group
                                        input#inputPassword.form-control(type='password' placeholder='Password' required name='password')
                                        label(for='inputPassword') Password
                                .col-md-6
                                    .form-label-group
                                        input#confirmPassword.form-control(type='password' placeholder='Confirm password' required name='confirmPassword')
                                        label(for='confirmPassword') Confirm password
                        button.btn.btn-lg.btn-primary.btn-block#createBtn Create Account
                    .text-center
    #completedModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='completedModalTitle' aria-hidden='true')
        .modal.modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#completedModalTitle.modal-title
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body#completedMsg
                    |
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
    #updateModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='updateModal' aria-hidden='true')
        .modal.modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#updateModalTitle.modal-title Update User
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p.text-center.text-danger#errmsg-update
                        form(id='updateForm').form-signin
                            .form-group
                                .form-row
                                    .col-md-6
                                        .form-label-group
                                            input#update_firstName.form-control(type='text' placeholder='First Name' name='update_firstName')
                                            label(for='update_firstName') First Name
                                    .col-md-6
                                        .form-label-group
                                            input#update_lastName.form-control(type='text' placeholder='Last Name' name='update_lastName')
                                            label(for='update_lastName') Last Name
                            .form-group
                                .form-row
                                    .col-md-6
                                        .form-label-group
                                            input#update_username.form-control(type='text' placeholder='Username' name='update_username')
                                            label(for='update_username') Username
                                    .col-md-6
                                        .form-label-group
                                            select#updateType.custom-select(name='role')
                                                option(selected='') -Role-
                                                option(value='admin') Administrator
                                                option(value='user') Employee
                            .form-group
                                .form-row
                                    .col-md-6
                                        .form-label-group
                                            input#update_startDate.form-control(type="date" placeholder="YYYY-MM-DD" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" name='update_startDate')
                                            label(for='update_startDate') Hire Date
                                    .col-md-6
                                        .form-label-group
                                            input#update_position.form-control(type='text' placeholder='Position' name='update_position')
                                            label(for='update_position') Position
                            .form-group.text-center
                                .form-row
                                    .form-label-group
                                        .custom-control.custom-checkbox.custom-control
                                            input#changePassword.custom-control-input(type='checkbox' name='changePassword')
                                            label.custom-control-label(for='changePassword') Change Password
                            .form-group
                                .form-row
                                    .col-md-6
                                        .form-label-group
                                            input#update_inputPassword.form-control(type='password' placeholder='Password' name='update_inputPassword')
                                            label(for='update_inputPassword') New Password
                                    .col-md-6
                                        .form-label-group
                                            input#update_confirmPassword.form-control(type='password' placeholder='Confirm password' name='update_confirmPassword')
                                            label(for='update_confirmPassword') Confirm New password
                            button.btn.btn-lg.btn-primary.btn-block#updateBtn Update User
    #deleteModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='deleteModal' aria-hidden='true')
        .modal.modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#deletedModalTitle.modal-title Delete User
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p.text-center.text-danger#err
                    p#delMsg
                .modal-footer
                    button.btn.btn-danger#deleteBtn Confirm
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel


block scripts
    script(type='text/javascript' charset='utf8' src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js')
    script(type='text/javascript' charset='utf8' src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js')
    script(src="/js/datatables.js")
    script(src="/js/users.js")
    script(src="/js/admin.js")